{% extends "forum/base.html" %}
{% block content %}
{% if user.is_authenticated %}
{% for topic in topics %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <small class="text-muted">{{ topic.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'topic-details' topic.id %}">{{ topic.title }}</a></h2>
        <a class="btn btn-outline-secondary" >Verify</a>
        <a class="btn btn-outline-secondary" >Decline</a>
    </div>
</article>
{% endfor %}
{% endif %}
{% endblock content %}